

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    padding: 80px 0px;
    background-color: #FFF8F3;
    background-image: url(./images/portfolio\ image-6.png), url(./images/header_bg-5.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.color-text{
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -70px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header li{
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-transparent{
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A ;
}

.banner{
    padding: 20px 0px 60px 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
    margin-top: 20px;
}

.developer-logo{
    width: 70px;
    position: absolute;
    left: 40px;
    top: 20px;
}

.banner-title{
    margin-top: -30px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 2px;
}

.banner-description{
    margin-top: -25px;
    font-size: 18px;
    margin-bottom: 20px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 100px 0;
    box-shadow: 0 70 60 0 rgba(0, 0, 0, 0.6);
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skill-box{
    padding: 50px ;
    background-color:whitesmoke;
    border-radius: 10px;

}

.section-about{
    color: #757575;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}
.skill-container{
    display: flex;
    gap: 15px;
}

.skill {
    padding: 50px 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.06);
    width: 50%;
    height: auto;
    
}
.skil-title{
    font-weight: bold;
    font-size: 20px;
}
.skill-des{
    color: #757575;
}


.resume-container{
    background-color:white;
    margin-top: 130px;
    padding: 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.resume-header{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: #181818;
}

.qualification{
    margin-bottom: 50px;
}

.resume-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.my-education-container{
    padding: 20px;
    width: 50%;
}

.my-experience-container{
    padding: 20px;
    width: 50%;
}
.title{
    color: #474747;
    font-size: 1.5em;
}

.education-title{
    font-size: 1.2em;
    color:#474747;
}

.institute{
    font-size: 1em;
    color: #474747;
}

.education-des{
    color: #757575;
}

.download-cv{
    margin: 20px;
    text-align: center;
}

footer{
    background-color: #FFF8F3;
    padding: 200px;
    margin-top:50px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.column-header{
    color: #181818;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bolder;
}

.column-des{
    font-size: 16px;
}

.footer-column>form>.contact {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.icon{
    display: flex;
    gap: 20px;
}

/* mobile responsive */
@media screen and (max-width:576px) {
    
    
    header{
        padding: 0px;
        margin: 0px;
        background-color: #FFF8F3;
        background-image: none;
        
    }  
    
    hr{
        width: 80%;
    }

    nav{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-top: -20px;
        
    }
    
    nav>ul{
        margin-right: 10px;
        margin-top: -20px;
    }
    .banner-content{
        flex-direction: column;
        padding: 30px;
        margin: 0;
        
    }
    .developer-logo{
        width: 20px;
        position: absolute;
        margin-right: 50px;
        margin-left: 0px;
        margin-top: 60px;
        padding: 0px;
    }

    main{
        max-width: 576px;
        margin: 0 auto;
    }
    .about-container{
        flex-direction: column;
    }
    .about,.banner,.section-about,.about-descrpition,.skill-box{
        text-align: justify;
        padding: 15px;
    }
    .resume-container{
        padding: 20px;
        text-align: justify;
    }
    
    
    .resume-header{
        font-size: 1.3em;
    }
    .education-title,.title,.institute{
        font-size: 1em;
        line-height: 1.5em;
    }
    .resume-column{
        gap: 5px;
    }
    .my-education-container{
        padding: 20px;
        width: 100%;
    }
    
    .my-experience-container{
        padding: 20px;
        width: 100%;
    }
    .qualification{
        margin-bottom: 20px;
    }
    .title{
        color: #1f2aa6;
        font-weight: bolder;
    }

    .institute{
        color: #9b1fa6;
    }
    .banner-title{
        font-size: 1.2em;
    }
    .btn-primary {
        margin-bottom: 10px;
        padding: 20px 15px;
        font-size: 15px;
    }
    .skill{
        width: 80%;
        height: auto;
    }

    .skill-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .resume-column{
        flex-direction: column;
        justify-content: center;
    }
    .column-header{
        font-size: 1.4em;
        text-align: left;
        
    }
    .column-des{
        line-height: 1.3em;
        padding: 0;
        margin-bottom: 16px;
    }
    footer{
        padding: 30px;
    }
    .footer-column{
        width: 80%;
    }
    .footer-container{
        flex-direction: column;
        gap: 50px;
    }
    .btn-transparent{
        background-color: transparent;
        color: #FD6E0A;
        border: 1px solid #FD6E0A ;
    }
    


}

@media screen and (max-width:600px) {
    .developer-logo{
        width: 15px;
        margin-top: 135px;
    }
}
    


/* tab view */

@media screen and (min-width:576px) and (max-width:992px) {
    main{
        max-width: 992px;
        margin: 0 auto;
    }

    header{
        padding: 0px 10px;
        margin: 0;
        background-color: #FFF8F3;
    }  
    
    hr{
        width: 80%;
    }

    nav{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-top: -40px;
    }

    nav>ul{
        margin-top: -20px;
    }
    .banner-content{
        flex-direction: column;
        padding: 0px;
        margin-left: 80px;
        margin-bottom: 60px;
        max-width: 330px;
    }
    .developer-logo{
        width: 50px;
        padding: 0px;
        margin-top: 80px;
    }

    .btn-primary{
        padding: 15px;
    }

    .about,.banner,.section-about,.about-descrpition,.skill-box{
        text-align: justify;
        padding: 20px;
    }
       
    .resume-container{
        padding: 20px;
        text-align: justify;
    }
    
    .resume-header{
        font-size: 1.3em;
    }
    .education-title,.title,.institute{
        font-size: 1.1em;
    }
   
    .title{
        color: #1f2aa6;
        font-weight: bolder;
    }

    .institute{
        color: #9b1fa6;
    }
    .banner-title{
        font-size: 1.2em;
    }
    .btn-primary {
        margin-bottom: 10px;
        padding: 20px 15px;
    }
    .skill{
        width: 43%;
        height: auto;
    }
    .skill-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .resume-column{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .my-education-container{
        width: 41%;
    }
    
    .my-experience-container{
        width: 41%;
    }
    .column-header{
        font-size: 1.2em;
        text-align: left; 
    }
    hr{
        display: none;
    }
    .column-des{
        line-height: 1.1em;
        padding: 0;
    }
    footer{
        padding: 25px;
    }
    .footer-column{
        width: 80%;
    }
    .footer-container{
        flex-direction: column;
        justify-content: center;
    }
    .btn-primary{
        margin-right: 20px;
    }
    .btn-transparent{
        background-color: transparent;
        color: #FD6E0A;
        border: 1px solid #FD6E0A ;
    }

    
}